//  theme 1
/*$light: #A3B4C8;
$blue: #CC6D3D;
$green: #b74803;
$dark: #022E51;

$accordion-icon-color: #A3B4C8;
$accordion-button-focus-box-shadow: white;*/

//  theme 2
/*$light: #e8eceb;
$blue: #e09e50;
$green: #8cbdb9;
$dark: #2d3e4e;

$accordion-icon-color: #e8eceb;
$accordion-button-focus-box-shadow: white;*/

//  theme 3
$light: #f9f7f0;
$blue: #18b7be;
$green: #178ca4;
$dark: #072a40;

$accordion-icon-color: #072a40;
$accordion-button-focus-box-shadow: white;

$navbar-light-toggler-border-color: $blue;
$navbar-light-color: $blue;

//  theme 4
/*$light: #f2ebe5;
$blue: #647295;
$green: #9f496e;
$dark: #2b262d;

$accordion-icon-color: #f2ebe5;
$accordion-button-focus-box-shadow: white;*/





@import "bootstrap/scss/bootstrap.scss";
