
body{
  font-family: 'Raleway', sans-serif;
}
.formation ul{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4rem;
}
.experience ul{
  font-family: 'Roboto Condensed', sans-serif;
}
.divers ul{
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

#formation, #experience, #divers {
  transition: transform 1s ease;
}

#formation:hover, #experience:hover, #divers:hover{
  transform: translate(2%);
}

#accordionExample {
  max-width: 324px;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  #accordionExample {
    max-width: 279px;
  }
}
@media screen and (max-width: 1200px) {
  #accordionExample {
    max-width: 234px;
  }
}
@media screen and (max-width: 992px) {
  #accordionExample {
    max-width: 174px;
  }
  .formation ul{
    font-size: 1rem;
  }
  body{
    font-size: 0.8rem;
  }
}


